<footer class="main">
  <hr />
  <div class="container text-center footer">
    <div class="row justify-content-center">
      <div class="col mt-3 px-4">
        <a href="https://www.linkedin.com/in/devbrunodemedeiros/" target="_blank" rel="noopener noreferrer">
          <img src="assets/LinkedIn 2.png" alt="logo-linkedin" />
        </a>
        <a href="https://github.com/brunomedeirosluz" target="_blank" rel="noopener noreferrer">
         <img src="assets/GitHub.png" alt="logo-github" />
        </a>
      </div>
    </div>
  </div>
</footer>