.logo {
  width: 180px;
  cursor: pointer;
}

.menu {
  width: 16px;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  border: none;
  height: 3px;
  background-color: #ffd22f;
  padding: 0;
  margin: 0;
  opacity: 1;
}
