.hr-dev {
  border: none;
  border-radius: 10px;
  height: 3px;
  background-color: #000000;
  padding: 0;
  margin: 0;
  opacity: 1;
  width: 60%;
  transform: rotate(-1deg);
  transform-origin: center;
}

.hr-min {
  border: none;
  border-radius: 10px;
  height: 3px;
  background-color: #000000;
  padding: 0;
  margin: 0;
  opacity: 1;
  width: 40%;
  transform: rotate(-1deg);
  transform-origin: center;
}

.hr-gamer {
  border: none;
  border-radius: 10px;
  height: 3px;
  background-color: #000000;
  padding: 0;
  margin: 0;
  opacity: 1;
  width: 40%;
  transform: rotate(-1deg);
  transform-origin: center;
}

.hr-ux {
  border: none;
  border-radius: 10px;
  height: 5px;
  background-color: #ffd22f;
  padding: 0;
  margin: 0;
  opacity: 1;
  width: 70%;
  transform: rotate(-1deg);
  transform-origin: center;
}

.main {
  background-color: #f4f4f3;
  padding: 20px;
  min-height: calc(90vh - 50px);
  font-family: "PT Sans Narrow", sans-serif;
}
